[submodule "uplift"]
	path = uplift
	url = git@github.com:kjetilv/uplift.git
[submodule "taninim"]
	path = taninim
	url = git@github.com:kjetilv/taninim.git
[submodule "lopp"]
	path = lopp
	url = git@github.com:kjetilv/lopp.git
[submodule "flopp"]
	path = flopp
	url = git@github.com:kjetilv/flopp.git
